<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MigrateTLI.Properties.Settings.WolfApproveCore_eisodevConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.eisodev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MigrateTLI.Properties.Settings.WolfApproveCore_thailifeConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV;Initial Catalog=WolfApproveCore.thailife;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MigrateECO.Properties.Settings.WolfApproveCore_eisodevConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.eisodev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MigrateECO.Properties.Settings.WolfApproveCore_thailifeConnectionString"
      connectionString="Data Source=DESKTOP-MTFBHTV;Initial Catalog=WolfApproveCore.thailife;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MigrateECO.Properties.Settings.WolfApproveCore_thailifeConnectionString1"
      connectionString="Data Source=DESKTOP-MTFBHTV\SQLEXPRESS;Initial Catalog=WolfApproveCore.thailife;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--===================== ♥♥ Setting Device ♥♥ ==========================-->
	  <add key="ServarName" value="DESKTOP-MTFBHTV\SQLEXPRESS" />
		<add key="Database" value="WolfApproveCore.thailife" />
		<add key="Username_database" value="sa" />
		<add key="Password_database" value="pass@word1" />
    <!--===============================================================-->
    <!--====================== ♥♥ Setting Excel ♥♥ ===========================-->
	<add key="Admin" value="newpro11@thailife.com" />
    <add key="PathFileExcel" value="C:\Loadtest_TLI\Migrate_TLI\MigrateTLI60\Migrate_TLI.xlsx" />
    <add key="SheetName_Migrate" value="Migrate" />
    <add key="SourcePath" value="C:\Loadtest_TLI\Migrate_TLI\MigrateTLI60\FileAll" />
    <add key="TargetPath" value="C:\Loadtest_TLI\Migrate_TLI\MigrateTLI60\TempAttachment" />
    <add key="LogFile" value="C:\Loadtest_TLI\Migrate_TLI\MigrateTLI60\log\" />
    <add key="Template_Darnew" value="60" />
    <add key="company" value="5" />
	<add key="Status" value="Wait for Approve" />
	<add key="WaitForApprove" value="supportpurchase@thailife.com" />
    <add key="Digit_ControlRunning" value="6" />
    <!--================================================================-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>